## Imports

In [1]:
import pandas as pd
import numpy as np
import torch
from transformers import DistilBertTokenizer, DistilBertModel
import re
import pickle
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
import seaborn as sns

In [2]:
text_df = pd.read_csv(
    "/home/tclark/Data Science/multimodal-insurance-project/data/used_cars/used_cars_data.csv",
    on_bad_lines="skip",   # ignore corrupted rows
    low_memory=False,      # allow full-memory type inference
    engine="c"             # default; supports this combo
)

text_df.head()
text_df.shape
print(text_df.dtypes.head())

vin             object
back_legroom    object
bed             object
bed_height      object
bed_length      object
dtype: object

In [4]:
print(text_df.shape)
print(text_df.head())

(3000040, 66)
                 vin back_legroom  bed bed_height bed_length        body_type  \
0  ZACNJABB5KPJ92081      35.1 in  NaN        NaN        NaN  SUV / Crossover
1  SALCJ2FX1LH858117      38.1 in  NaN        NaN        NaN  SUV / Crossover
2  JF1VA2M67G9829723      35.4 in  NaN        NaN        NaN            Sedan
3  SALRR2RV0L2433391      37.6 in  NaN        NaN        NaN  SUV / Crossover
4  SALCJ2FXXLH862327      38.1 in  NaN        NaN        NaN  SUV / Crossover

  cabin      city  city_fuel_economy  combine_fuel_economy  ...  transmission  \
0   NaN   Bayamon                NaN                   NaN  ...             A
1   NaN  San Juan                NaN                   NaN  ...             A
2   NaN  Guaynabo               17.0                   NaN  ...             M
3   NaN  San Juan                NaN                   NaN  ...             A
4   NaN  San Juan                NaN                   NaN  ...             A

          transmission_display  trimId     trim_name  vehicle_damage_category  \
0  9-Speed Automatic Overdrive  t83804  Latitude FWD                      NaN
1  9-Speed Automatic Overdrive  t86759         S AWD                      NaN
2               6-Speed Manual  t58994          Base                      NaN
3  8-Speed Automatic Overdrive  t86074    V6 HSE AWD                      NaN
4  9-Speed Automatic Overdrive  t86759         S AWD                      NaN

  wheel_system wheel_system_display wheelbase    width  year
0          FWD    Front-Wheel Drive  101.2 in  79.6 in  2019
1          AWD      All-Wheel Drive  107.9 in  85.6 in  2020
2          AWD      All-Wheel Drive  104.3 in  78.9 in  2016
3          AWD      All-Wheel Drive    115 in  87.4 in  2020
4          AWD      All-Wheel Drive  107.9 in  85.6 in  2020

[5 rows x 66 columns]

In [ ]:
# check for missing values
print(text_df.isna().sum())

vin                           0
back_legroom             159269
bed                     2980472
bed_height              2570942
bed_length              2570942
                         ...
wheel_system             146732
wheel_system_display     146732
wheelbase                159269
width                    159269
year                          0
Length: 66, dtype: int64
40
True

In [6]:

# check for duplicate rows
print(text_df.duplicated().sum())

40

In [ ]:

print(text_df.duplicated().any())